@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img-top" src="	https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image" style="width:100%">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img-top" src="	https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image" style="width:100%">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
