@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script type="text/javascript" src="~/library/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="~/library/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="~/library/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="~/library/js/templatemo.js"></script>
<script type="text/javascript" src="~/library/js/custom.js"></script>

<link href="~/library/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/library/css/custom.css" rel="stylesheet" />
<link href="~/library/css/templatemo.css" rel="stylesheet" />

<div class="mt-5" style="margin-right: 5px;">
    <div class="row">
        <div class="col-lg-6 bg-default">
            <h2 class="text-light">Danh sách sản phẩm</h2>
            <div class="row">
                <div class="col-md-9">
                    <input type="text" list="datalistOptions" id="tensanpham" name="tensanpham" placeholder="Tên sản phẩm" style="height : 40px; width: 90%; border-radius:10px" />
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary" style="border-radius:5px; margin-left: 5px;">Tìm kiếm</button>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4">
                            Giá
                        </div>
                        <div class="col-md-8">
                            <select class="form-control">
                                <option>Mời bạn chọn</option>
                                <option>Từ thấp đến cao</option>
                                <option>Từ cao đến thấp</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4">
                            Danh mục
                        </div>
                        <div class="col-md-8">
                            <select class="form-control">
                                <option>Mời bạn chọn</option>
                                <option>Từ thấp đến cao</option>
                                <option>Từ cao đến thấp</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-4">
                            Thương hiệu
                        </div>
                        <div class="col-md-8">
                            <select class="form-control">
                                <option>Mời bạn chọn</option>
                                <option>Từ thấp đến cao</option>
                                <option>Từ cao đến thấp</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" src="~/library/img/shop_01.jpg">
                            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li>
                                    <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a></li>
                                    <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="shop-single.html" class="h3 text-decoration-none">Oupidatat non</a>
                            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                <li>M/L/X/XL</li>
                                <li class="pt-2">
                                    <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                </li>
                            </ul>
                            <ul class="list-unstyled d-flex justify-content-center mb-1">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                            </ul>
                            <p class="text-center mb-0">$250.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" src="~/library/img/shop_02.jpg">
                            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li>
                                    <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a></li>
                                    <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="shop-single.html" class="h3 text-decoration-none">Oupidatat non</a>
                            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                <li>M/L/X/XL</li>
                                <li class="pt-2">
                                    <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                </li>
                            </ul>
                            <ul class="list-unstyled d-flex justify-content-center mb-1">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                            </ul>
                            <p class="text-center mb-0">$250.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" src="~/library/img/shop_03.jpg">
                            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li>
                                    <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="far fa-eye"></i></a></li>
                                    <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="shop-single.html" class="h3 text-decoration-none">Oupidatat non</a>
                            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                <li>M/L/X/XL</li>
                                <li class="pt-2">
                                    <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                    <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                </li>
                            </ul>
                            <ul class="list-unstyled d-flex justify-content-center mb-1">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                            </ul>
                            <p class="text-center mb-0">$250.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12 mb-4 bg-success">
                    <h2 class="text-light">Tạo hóa đơn</h2>
                    <a class="btn btn-primary" href="@Url.Action("TaoHoaDon","BanHangTaiQuay")"><i class="fas fa-plus-square" style="color: #ffffff;"></i> Tạo hóa đơn</a>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    Tên khách hàng
                                </div>
                                <div class="col-md-8">
                                    <input type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    Số điện thoại:
                                </div>
                                <div class="col-md-8">
                                    <input type="number" min="0" maxlength="10" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Địa chỉ:
                        </div>
                        <div class="col-md-8">
                            <input type="text" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-12 bg-warning">
            <h2 class="text-light">Hóa đơn chờ</h2>
            <div class="row">
                <div class="col-md-9">
                    <input type="text" list="datalistOptions" id="sdt" name="sdt" placeholder="Mã hóa đơn hoặc SDT khách" style="height : 40px; width: 90%; border-radius:10px" />
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary" style="border-radius:5px; margin-left: 5px;">Tìm kiếm</button>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã hóa đơn</th>
                        <th>SĐT khách</th>
                        <th>Ngày tạo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
    </div>
</div>
