@model AppData.model.XuatSu

@{
    ViewData["Title"] = "CreateXuatsu";
}

<h1>CreateXuatsu</h1>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
<h4>XuatSu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateXuatsu">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="TenXuatSu" class="control-label"></label>
                <input asp-for="TenXuatSu" class="form-control" />
                <span asp-validation-for="TenXuatSu" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" onclick="return confirm('Bạn có chắc muốn thêm xuất sứ này không ?');" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
