@model AppData.model.SanPhamChiTiet

@{
    ViewData["Title"] = "CreateSanPhamCT";
}

<h1>CreateSanPhamCT</h1>

<h4>SanPhamChiTiet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSanPhamCT">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="IdDanhMuc" class="control-label"></label>
                <input asp-for="IdDanhMuc" class="form-control" />
                <span asp-validation-for="IdDanhMuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDSP" class="control-label"></label>
                <input asp-for="IDSP" class="form-control" />
                <span asp-validation-for="IDSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdChatLieu" class="control-label"></label>
                <input asp-for="IdChatLieu" class="form-control" />
                <span asp-validation-for="IdChatLieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMauSac" class="control-label"></label>
                <input asp-for="IdMauSac" class="form-control" />
                <span asp-validation-for="IdMauSac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSize" class="control-label"></label>
                <input asp-for="IdSize" class="form-control" />
                <span asp-validation-for="IdSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAnh" class="control-label"></label>
                <input asp-for="IdAnh" class="form-control" />
                <span asp-validation-for="IdAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaSp" class="control-label"></label>
                <input asp-for="MaSp" class="form-control" />
                <span asp-validation-for="MaSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuong" class="control-label"></label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaBan" class="control-label"></label>
                <input asp-for="GiaBan" class="form-control" />
                <span asp-validation-for="GiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
