@model IEnumerable<AppData.model.Anh>

@{
    ViewData["Title"] = "GellAllAnh";
}

<ul class="nav nav-tabs" style="margin:10px;">
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllSanPhamCT">Sản Phẩm Chi Tiết</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllDanhMuc">Thuộc tính</a>
    </li>
</ul>


<ul class="nav nav-tabs" style="margin:10px;">
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllDanhMuc">Danh mục</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllMau">Màu sắc</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllChatLieu">Chất liệu</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllSize">Size</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllSanPham">Sản phẩm</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" asp-action="GellAllAnh">Ảnh</a>
    </li>
</ul>

<p>
    <a asp-action="UploadImage" class="btn btn-primary" style="margin:10px;">Tải ảnh</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4"></div>
        <div class="card" style="height:250px">
            <img src="@Url.Action("DisplayImage", "QuanTri", new { imagePath = item.Connect })" alt="Image"/>
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
            </div>
        </div>
    }
</div>

