@model AppData.ViewModal.SanPhamChiTietVM.SanPhamChiTietViewModel

@{
    ViewData["Title"] = "UpdateSanPhamCT";
}

<h1>UpdateSanPhamCT</h1>

<h4>SanPhamChiTietViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateSanPhamCT">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @* <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="MaSp" class="control-label" style="disabled"></label>
                <input asp-for="MaSp" class="form-control" />
                <span asp-validation-for="MaSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DanhMuc" class="control-label"></label>
                <input asp-for="DanhMuc" class="form-control" />
                <span asp-validation-for="DanhMuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSP" class="control-label"></label>
                <input asp-for="TenSP" class="form-control" />
                <span asp-validation-for="TenSP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChatLieu" class="control-label"></label>
                <input asp-for="ChatLieu" class="form-control" />
                <span asp-validation-for="ChatLieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MauSac" class="control-label"></label>
                <input asp-for="MauSac" class="form-control" />
                <span asp-validation-for="MauSac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anh" class="control-label"></label>
                <input asp-for="Anh" class="form-control" />
                <span asp-validation-for="Anh" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="SoLuong" class="control-label"></label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaBan" class="control-label"></label>
                <input asp-for="GiaBan" class="form-control" />
                <span asp-validation-for="GiaBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="QRCode" class="control-label"></label>
                <input asp-for="QRCode" class="form-control" />
                <span asp-validation-for="QRCode" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
